<!doctype html>

<html lang="en">

<head>
    <head th:replace="fragments.html :: name_head"></head>
    <link rel="stylesheet" th:href="@{/static/css/auth.css}">
</head>
<body>

<main class="main">
    <div class="container">
        <section class="wrapper">
            <div class="heading">
                <h1 class="text text-large">Sign In</h1>
                <p class="text text-normal">New user? <span><a th:href="@{/site/signup}" class="text text-links">Create an account</a></span>
                </p>
            </div>
            <form id="login-form" name="signin" class="form needs-validation" novalidate>
                <div class="input-control">
                    <label for="email" class="input-label" hidden>Email Address</label>
                    <input type="email" name="email" id="email" class="input-field" placeholder="Email Address" required>
                </div>
                <div class="input-control">
                    <label for="password" class="input-label" hidden>Password</label>
                    <input type="password" name="password" id="password" class="input-field" placeholder="Password" required>
                </div>
                <div class="input-control">
                    <div></div>
                    <input id="login-button" type="submit" name="submit" class="input-submit" value="Sign In">
                </div>
            </form>
        </section>
    </div>
</main>

<div th:replace="fragments.html :: name_footer"></div>
<script th:src="@{/static/js/auth.js}"></script>

</body>

</html>